.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 112px;
    padding-right: 112px;
    justify-content: space-between;
}

.header a{
    text-decoration: none;
    color: aliceblue;
    padding: 0px 32px;
}

.header a:hover{
    color: orangered;
    transition: 0.3s;
}